<div class="container">

<table class="table table-bordered">
<tr>
<th>paid amount</th>
<th>net balacne</th>	
</tr>
<%@record.each do |record|%>
<tr>
	<td><%=record.paid_amount%></td>
	<td><%=record.net_balance%></td>
	
</tr>
<%end%>
</table>


</div>